.post-main {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 0px 30px 30px 20px;
}

.post-rw-1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: -10px;
}

.post-rw-1 div {
  display: flex;
  flex-direction: column;
}

.post-rw-1 div h2 {
  margin-top: 20px;
  margin-bottom: -1px;
}

.profile-pic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.post-rw-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.post-rw-2 h1 {
  font-size: 2em;
}

.post-title {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 20px;
  margin-top: 20px;
}

.post-rw-3 {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 20px;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 140px 140px;
}

.post-rw-3:hover {
  cursor: pointer;
}

.post-content-cx {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 40vh;
}

.post-content {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-size: 1.2em;
}

.post-img {
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  width: 30vw;
  border-radius: 8px;
}

.post-img-cx {
  display: flex;
  margin-left: auto;
  width: 30vw;
  height: 40vh;
  align-items: center;
  justify-content: center;
}

.readtime {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.post-rw-4 {
  display: flex;
  width: 100%;
  margin-top: 20px;
  gap: 20px;
  padding-right: 80px;
}

.post-comment,
.post-views,
.post-likes {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.post-letter-img {
  display: flex;
  background-color: blue;
  color: white;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 60%;
  padding: 30px;
  border-radius: 50%;
}

.post-menu {
  border: solid;
}

.post-letter-img h1 {
  font-size: 4em;
}

.post-profile-img {
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.post-heart {
  width: 25px;
  height: 25px;
}

.post-tag-cx {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.post-tag {
  text-decoration: none;
  border: 0.3px solid blue;
  border-radius: 5px;
  color: white;
  padding: 5px;
  color: black;
}

.disp-name-cx {
  width: 50%;
}

.disp-name {
  font-size: 1.6em;
  margin-bottom: -4px;
  color: gray;
}

.p {
  display: flex;
  margin-top: -8px;
  width: 100%;
  color: gray;
  gap: 10px;
  align-items: center;
}

@media screen and (min-width: 180px) and (max-width: 767px) {
  .post-main {
    padding-left: 8px;
    padding-right: 8px;
  }
  .post-rw-1 {
    width: 100%;
  }
  .disp-name {
    font-size: 1.5em;
  }
  .p {
    display: flex;
    flex-direction: column;
  }
  .post-title {
    line-height: 1em;
  }
}
@media screen and (min-width: 768px) and (max-width: 821px) {
  .home-main {
    border: solid blue;
  }
}/*# sourceMappingURL=post.css.map */