.trending{
    display: flex;
    flex-direction: column;
// border: solid;
margin-top: -10px;
width: 100%;
}
.trending ul{
    list-style: none;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
   padding-left: 20px;
   
}
.tag-link{
    // border: solid;
}
.tag-link:hover{
    cursor: pointer;
    background-color: blue;
    border-radius: 5px;
    color: white;
    padding-left: 10px;
}