.frame-main{
 font-size: 0.9em;
 border: 1px solid black;
 width: 260px;
 border-radius: 5px;
 margin-top: 50px;
 padding: 10px 10px;

}
.frame-title{
    margin-top: 20px;

}
.frame-para{
margin-top: 20px;
}
.frame-icon{
    margin-top: 10px;
    border-radius: 50%;
    background-color: rgb(128, 128, 128, 0.5);
    padding: 10px;

}


@media screen And (min-width: 180px) And (max-width: 767px) {
    .frame-main {
        width: 100%;
        // border: solid red;
    }
    .section-two{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section-three{
        display: flex;
        flex-direction: column;
    }
}

@media screen And (min-width: 768px) And (max-width: 821px) {
    .frame-main {
        border: 3px solid blue;
    }
}