.feed-main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.feed-post-cx {
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
}
.feed-navigation-wrap {
    grid-area: feed-nav;
}

.header-indicator {
    display: flex;
    background-color: blue;
    height: 4px;
  
}
.feed-indicator-cx {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    width: 100%;
    margin-bottom: -20px;
}

.feed-header {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px 20px 0 20px;
    margin-top: 20px;
}
.recent:hover {
    cursor: pointer;
}
.feed-header-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-between;
}

.for-you-indicator {
    // translate: 0%;
    width: 100%;
    animation-name: motion;
    animation-duration: 1s;
    transition: all ease-in;
 
    
}
.recent-indicator {
    width: 100%;
    animation-name: motion;
    animation-duration: 1s;
    transition: all ease-in;
   
}
.featured-indicator {
    width: 100%;
    animation-name: motion;
    animation-duration: 1s;
    transition: all ease-in;
}
.content-col-1{
    justify-content: center;
    align-items: center;
}

@keyframes motion {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
    
}