.feed-main {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 0.1fr 6fr;
    grid-template-areas:
        "sidebar  search search"
        " sidebar  feed-post-cx feed-post-cx ";
    padding: 20px;
    width: 100%;
}
.feed-sidebar {
    border: 1px solid grey;
    grid-area: sidebar;
}
.feed-search {
    grid-area: search;
    padding: 10px 0;
    display: flex;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
}
.feed-post-cx {
    grid-area: feed-post-cx;
    padding: 20px;
    border: 1px solid grey;
}

.search-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid grey;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
}
.search-wrap input {
    border: none;
    outline: none;
    width: 250px;
}

