
.feed-search {
    grid-area: search;
    padding: 10px 0;
    display: flex;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
}

.search-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid grey;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
}
.search-wrap input {
    border: none;
    outline: none;
    width: 250px;
}
