.home-main {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-mains {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  transition: scrollbar-color 0.1s;
  transition: all ease-in;
}
.home-mains:hover {
  scrollbar-color: black transparent;
  transition: 0.5s;
}
.home-mains:not(:hover)::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
  -webkit-transition: all ease-in-out;
  transition: all ease-in-out;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.home-mains::-webkit-scrollbar {
  width: 14.5px;
  -webkit-transition: all ease-in-out;
  transition: all ease-in-out;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.home-mains::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-transition: all ease-in-out;
  transition: all ease-in-out;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(96, 95, 95, 0.75);
}
.home-mains::-webkit-scrollbar-track {
  border: 3px solid transparent;
}

.bg-header {
  height: 700px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../../Assets/images/jeshoots-com--2vD8lIhdnw-unsplash.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;
  justify-content: center;
  align-items: center;
}

.cx-wrap {
  width: 55%;
}

.home-title {
  font-size: 2em;
  color: #ffffff;
}

.home-p {
  margin-top: 20px;
  color: white;
}

.home-btn {
  margin-top: 35px;
  width: 120px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  background-color: blue;
  border: 0px solid;
  color: white;
}

.section-two {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  gap: 20px;
}

.section-two-content {
  width: 50%;
}

.section-two h1 {
  margin-bottom: 20px;
  font-size: 2em;
}

.home-img1 {
  width: 40%;
  height: 40%;
  margin-left: auto;
}

.section-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 140px;
  padding-right: 140px;
  margin-top: 30px;
}

.section-three h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2em;
}

.frame-cx {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.section-four {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding: 60px;
  background-color: rgba(255, 237, 204, 0.5);
}

.home-img2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.section-four-content {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.section-four-content p {
  margin-top: 20px;
}

.section-five {
  padding: 80px;
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.section-five-image-cx {
  display: flex;
  flex-direction: row;
  width: 40%;
}

.section-five-img1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.flex-rw {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.just-center {
  justify-content: center;
  align-items: center;
}

.gap {
  gap: 80px;
}

.section-five-content h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px;
  background-color: rgba(255, 237, 204, 0.5);
}

.footer h1 {
  color: blue;
}

.footer div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 180px) and (max-width: 767px) {
  .home-main {
    width: 100%;
  }
  .cx-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0 10px;
  }
  .cx-wrap p {
    text-align: center;
  }
  .bg-header {
    align-items: center;
    justify-content: center;
  }
  .section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    margin-top: 20px;
  }
  .section-two-content {
    width: 100%;
    text-align: justify;
  }
  .section-two h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    text-align: center;
  }
  .home-img1 {
    width: 100%;
    height: 40%;
    margin-left: auto;
  }
  .section-three {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin-top: 20px;
  }
  .section-three h1 {
    font-size: 2.5em;
    line-height: 40px;
  }
  .frame-cx {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .section-four {
    flex-direction: column;
    width: 100%;
    padding: 5px 5px;
    justify-content: center;
    align-content: center;
  }
  .home-img2 {
    align-self: center;
  }
  .section-four-content {
    width: 100%;
    margin: 2px 2px;
    align-items: center;
  }
  .section-four-content p {
    text-align: center;
  }
  .section-five {
    flex-direction: column;
    width: 100%;
    padding: 5px 8px;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .section-five-image-cx {
    width: 100%;
    justify-content: center;
  }
  .section-five-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section-five-img1 {
    width: 100px;
    height: 100px;
  }
  .footer {
    flex-direction: column;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .footer-rw-1, .footer-rw-2, .footer-rw-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 821px) {
  .home-main {
    border: solid blue;
  }
}/*# sourceMappingURL=homestyle.css.map */