.nav-main {
    display: flex;
    flex-direction: row;
    border-bottom: 0.3px solid rgb(207, 207, 207);
    padding: 10px 20px;
    z-index: 1;
    background-color: white;
    width: 100%;
    height: 80px;
    top: 0px;
    left: 0;
    justify-content: center;
    align-items: center;
}
.nav-logo {
    color: #0000ff;
    font-size: 2em;
}

.search-bar-show{
    visibility:visible;
}
.search-bar-hidden{
    visibility: hidden;
    width: 0;
}
.nav-profile-rw-1{
    // border: solid red;
    padding-right: 10px;
    padding-left: 10px;
  

}
.nav-profile-logout-btn{
    color: red;
    margin-bottom: 10px;
}
.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 10%;
}
.link {
    margin-left: 20px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}
.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    // border: solid red;
}
.nav-button button {
    outline: none;
    width: 100px;
    height: 40px;
    margin: 0 10px;
}
.nav-button button:hover {
    cursor: pointer;
}
.login-btn {
    background-color: transparent;
    border: 1px solid blue;
    border-radius: 5px;
}
.signin-btn {
    background-color: blue;
    border: 1px solid blue;
    border-radius: 5px;
    color: white;
}
.user-profile {
    // padding: 0 20px;
    margin-right: 20px;
}
.nav-notify{
    margin: 0 15px;
}
.hide {
    z-index: 1;
    display: none;
}
.show {
    display: block;
}
.log-hide {
    visibility: hidden;
}
.log-show {
    visibility: visible;
}

.nav-user-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.nav-bar-hambuger {
    display: none;
}
.user-profile{
  
    height: fit-content
}

@media (min-width: 180px) and (max-width: 780px) {
    .nav-main {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0px 20px;
        align-items: center;
        z-index: 1;

    }
    .nav-main h1{
        font-size: 1em;
    }
    .user-profile{
        display:none;
    }

    .hambuger {
        display: block;
        align-self: flex-end;
        margin-top: 3vh;
        margin-right: 1%;
        
        
    }
    .hambuger.active .line:nth-child(2) {
        opacity: 0;
    }

    .hambuger.active .line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hambuger.active .line:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    .nav-bar-hambuger {
        display: flex;
        flex-direction: column;
        // width: 0%;
        position: absolute;
        height: 100%;
        top: 0px;
        right: 0px;
        z-index: 2;
        margin-right: 10px;
      
    }

    .show {
        right: 5%;
        display: flex;
    }
    .back {
        // width: 100%;
        /* background-color: rgba(128, 128, 128, 0.27); */
    }

    .nav-rw-1 {
        display: none;
    }

    .nav-rw-2 {
        display: none;
    }
}
@media screen And (min-width: 768px) And (max-width: 821px) {
    .nav-main {
        border: solid blue;
    }
}