.person-post-main {
    background-color: rgb(247, 245, 245);
    // height: 100%;
}
.person-post {
    padding: 10px 20px 10px 20px;
    background-color: rgb(247, 245, 245);
}

.person-post-rw-1 {
    padding: 0 20px 10px 10px;
    margin-top: 10px;
    border: 0.3px solid rgb(181, 181, 181);
    border-radius: 5px;
    background-color: white;
    // width: 100%;
}
.person-post-header h1 {
    font-size: 1.2em;
    font-weight: 600;
}
.col-1 {
    display: flex;
    flex-direction: column;
}
.person-post-menu {
    display: flex;
    // justify-content: center;
    align-items: center;
    // gap: 2px;
}

.person-post-menu-wrap:hover {
    cursor: pointer;
}
.person-post-menu {
    padding: 2px;
}
.menu:hover {
    cursor: pointer;
}
.menu-col-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu-col-2 button {
    outline: none;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: transparent;
    font-size: 1.2em;
}
.person-post-rw-2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    padding: 20px;
}

.person-post-content-cx {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    width: 50vw;
    gap: 20px;
}
.person-post-content-cx h1 {
    font-size: 1.5em;
}
.person-post-img {
    width: 25vw;
    border-radius: 8px;
    // border: solid;
}
.person-post-img-cx {
    display: flex;
    margin-left: auto;
    // border: solid blue;
    width: 30vw;
    height: 40vh;
    align-items: center;
    justify-content: center;
}

.person-all {
    margin-left: auto;
    margin-top: auto;
}
.person-draft {
    // margin-left: auto;
    margin-top: auto;
}
.person-publish {
    // margin-left: auto;
    margin-top: auto;
}
.person-post-rw-3 img {
    // max-height: 150vh;
    object-fit: contain;
    max-width: 20vw;
}

.person-post-comment,
.person-post-views,
.person-post-likes {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.person-post-rw-4 {
    display: flex;
    flex-direction: row;
    // align-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 50px;
    // border: solid;
}
.btn {
    border: none;
    outline: none;
    color: red;
}

.person-post-content {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    margin-bottom: 0;
    margin-top: auto;
}
.person-post-nav {
    display: flex;
    padding: 20px 20px;
    border: 0.3px solid rgb(204, 200, 200);
    border-radius: 5px;
    gap: 20px;
    background-color: white;
    width: 100%;
}

.person-draft:hover,
.person-publish:hover,
.person-all:hover {
    cursor: pointer;
}
.person-post-outlet {
    height: 210vh;
    // height: fit-content;
    // padding-bottom: 20px;
}
.all-border {
    border-bottom: 5px solid blue;
    transition: all 2ms ease-in;
}
.draft-border {
    border-bottom: 5px solid blue;
}
.published-border {
    border-bottom: 5px solid blue;
}


