.person-post-main{
   
}
.person-post-cx{
    // border: solid;
    // background-color: rgb(255, 222, 222);
}
.person-post-rw-1{
    padding:0 20px 10px 20px;
    margin-top: 10px;
    border:1.5px solid gray;
    border-radius: 5px;
}
.col-1{
    display: flex;
    flex-direction: column;
}
.person-post-menu-wrap{
    display: flex;
    justify-content: center;
    gap: 2px;
   
}

.person-post-menu-wrap:hover{
    cursor: pointer;
}
.person-post-menu{
    padding: 2px;
   

}
.menu:hover{
    cursor: pointer;
}
.menu-col-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
 

}
.menu-col-2 button{
    outline: none;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: transparent;
    font-size: 1.2em;
    

    
}
.person-post-rw-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.person-post-rw-3{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.person-post-rw-3 img{
    // max-height: 150vh;
    object-fit: contain;
    max-width: 20vw;
}

.person-post-comment,.person-post-views,.person-post-likes{
    display: flex;
    flex-direction: row;
    gap: 5px;
  
}
.person-post-rw-4{
    display: flex;
    flex-direction: row;
    // align-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 50px;
}
.btn{
    border: none;
    outline: none;
    color: red;
}

.person-post-content{
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

}