@font-face {
  font-family: DMSans;
  src: url("../../Assets/fonts/DMSans-Regular.ttf");
}

.sidebar-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 200px;
  font-family: DMSans;
  padding-bottom: 20px;
  padding: 40px 5px;
  background-color: white;
  border-radius: 8px;

 
}

.sidebar-rw-1 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
  border:0.3px solid rgb(212, 211, 211);
  border-radius: 4px;
  padding: 2px 6px;

 
}

.sidebar-rw-1 h1 {
  color: blue;
  font-size: 2em;
  // margin-top: 10px;
}

.aside{
  // border:0.3px solid rgb(212, 211, 211);
 
 font-size: 1em;
}

.sidebar-rw-2,
.sidebar-rw-3,
.sidebar-rw-4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  // letter-spacing: -1px;
  padding-left: 10px;
}
.sidebar-rw-4{
  // margin-top: 10px;
  padding-top: 10px;
  // border: solid;
}
.sidebar-rw-4 h2{
font-size: 1.2em;
font-weight: bolder;

}
.sidebar-feed-div,
.sidebar-trending-div,
.sidebar-personal-div {
  display: flex;
  // align-content: center;
  gap: 10px;
  margin-left: 15px;
  font-size: 0.9em;
}

.links {
  text-decoration: none;
  font-size: 1.2em;
  color: black;
  // letter-spacing: 0.4px;
}
.see-all {
  width: 100%;
  padding-left: 14px;
  margin-top: -8px;
  font-weight: 700;
  // letter-spacing: 0.3em;
  position: relative;
  display: inline-block;
  // cursor: pointer;
}
.see-all:hover {
  background-color: grey;
  color: white;
  border-radius: 5px;
}
.see-all-popup {
  background-color: grey;
}
.ana-span {
  display: flex;
  // align-items: center;
  border: 2px solid grey;
  padding: 1px 2px;
  height: 20px;
  border-radius: 2px;
}
.sidebar-logout-div {
  margin-top: 30px;
}
.feed,
.bookmark,
.analytic,
.teamblog {
  color: blue;
  font-weight: bolder;
}
.draft {
  color: blue;
}

.content {
  padding: 17px 9px 17px 17px;
  width: 300px;
  height: 200px;
  word-break: break-all;
  // overflow-y: scroll;
}
.tag-wrap {
  // border: solid red;
  border-radius: 5px;
  overflow: auto;
  height: 90vh;
  box-shadow: 1px 2px 3px 2px rgb(199, 199, 199);
  padding: 10px 0;
}

.tag-nav {
  padding: 10px;
  &:hover {
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
    cursor: pointer;
  }

}
.side-post{
  // padding: 0 10px;
  width: 18vw;
}
.trending-topics-cx{
  width: 100%;

}
.log-out{
  color: red;
  font-weight: 600;
}

.close {
  visibility: hidden;
  border: solid red;
}
.hambuger {
  display: block;
  margin-left: auto;
 
}
.hambuger:hover {
  cursor: pointer;
}
.hambuger.active .line:nth-child(2) {
  opacity: 0;
}

.hambuger.active .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hambuger.active .line:nth-child(3) {
  transform: translateY(-4px) rotate(-45deg);
}

@media (min-width: 180px) and (max-width: 780px) {
  .sidebar-main {
    width: 100%;
  }
}
@media screen And (min-width: 768px) And (max-width: 821px) {
}
