*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}
@font-face {
  font-family: DMSans;
  src: url('./Assets/fonts/DMSans-Regular.ttf');
}

body,
html {
  /* border: solid red; */
  padding: 0 1px;
  margin: 0;
  font-family: DMSans;
  /* overflow: hidden; */
 
}
.app{
  display: flex;
  flex-direction: column;
 /* gap: 100px; */

}
.app-nav{
  position: sticky;
  top: 0;
}
.app-main{
  height: fit-content;
  
}


@media (min-width: 180px) and (max-width: 780px) {
  .app-nav{
    position: sticky;
    top: 0;
  }
}