.settings-main{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.settings-input{
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid grey;
    border-radius: 5px;
    outline: none;
}
input{

    
}

.settings-img{
    margin-top: 10px;
    width: 150px;
    height: 150px;
border-radius: 50%;
}