.settings-main {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
}
.settings-rw-main {
    border: solid;
    padding: 20px;
    border-radius: 5px;
    border: 0.3px solid rgb(201, 197, 197);
}
.settings-head {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    // border: solid;
    border-radius: 5px;
    background-color: rgb(213, 207, 207);
    padding: 20px;
}
.settings-input {
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid rgb(201, 197, 197);
    border-radius: 5px;
    outline: none;
}
input {
}

.settings-img {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.settings-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.settings-col-2 {
    display: flex;
    flex-direction: column;
}
.settings-btn {
    // height: 30px;
    border-radius: 5px;
    outline: none;
    background-color: blue;
    color: white;
    border: none;
    margin-top: 30px;
    padding: 10px;
    width: 100%;
}
.settings-cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -40px;
    margin-left: 100px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid blue;
    color: rgb(60, 59, 59);
    // border: solid;
    width: 40px;
    height: 40px;
    padding: 4px;
}
.settings-cancel svg:hover {
    cursor: pointer;
  
}
.image-delete{
    width: 35px;
    height: 35px;
}